
<head>
<title>User Registeration Page</title>
<link rel="Stylesheet" href="/styles/login-style.css">
</head>
<body>

	<div class="regiterationbox">

		<h1 class="reg-heading">Registeration</h1>
		<form>
			<p>Enter username</p>
			<input type="text"  name="uname"
				placeholder="Enter username" required="required" [(ngModel)]="user.name" />
				 
			<p>Enter Password</p>
			<input type="password" [(ngModel)]="user.password" name="password"
				placeholder="Enter password" required="required" />
				

			<p>Enter EmailId</p>
			<input type="text" [(ngModel)]="user.email" name="email"
				placeholder="Enter Email" required="required"/>
			
			<p>Enter Mobile Number</p>
			<input type="text" [(ngModel)]="user.mobileno" name="mobile"
				placeholder="Enter mobile number" required="required" />
				
			<input type="button" name="sumbit" (click)="onRegister()" value="Register">
			<a href="/login">Already have an account?SignIn Here!</a>
		</form>
	</div>

</body>
