
<head>
<title>User Landing Page</title>
<link rel="Stylesheet" href="/styles/style.css">
<link rel="Stylesheet" href="/styles/style1.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="font-size: 20px;">
		<a class="navbar-brand" href="#"><img src="./assets/images/page-icon.png"
			width="50" height="50" alt=""> Mentor On Demand</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link"
					href="/user-landing-page">Home <span class="sr-only">(current)</span></a>
				</li> &nbsp;&nbsp; &nbsp; &nbsp;
				<li class="nav-item"><a class="nav-link"
					href="#">Current Trainings</a></li> &nbsp;
				&nbsp;&nbsp; &nbsp;
				<li class="nav-item"><a class="nav-link"
					href="#">Completed Training</a></li> &nbsp;
				&nbsp;&nbsp; &nbsp;
				<li class="nav-item"><a class="nav-link"
					href="/updateProfile">Update Profile</a></li>
					&nbsp;&nbsp; &nbsp;
					<li class="nav-item"><a class="nav-link"
					href="/notificationsList">Notifications</a></li> &nbsp;
				&nbsp;&nbsp; &nbsp;

			</ul>
		</div>
		<div>
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link"
					href="/loginUser">Logout</a></li>
			</ul>
		</div>
	</nav>
	<div class="page-body">
		<div class="box">
			<form (ngSubmit)="search()" >

				<input type="text" placeholder="Search.." name="searchValue" [(ngModel)]="searchvalue">
				<input type="submit" value="Search">
			</form>
		</div>
	</div>
	<div >
		<br><br><br><br><br><br>
    <table class="managecmp-page-table" style="margin-top: 99px; font-size: 20px;">
     <th>Mentor Name</th>
     <th>Rating</th>
			<th>Number of Training</th>
			<th>Available Date</th>
     <tr *ngFor="let mentor of mentors">
        <td> {{mentor.name}} </td>
        <td> {{mentor.rating}} </td>
        <td> {{mentor.numberOfTrainings}} </td>
        <td> {{mentor.available_date}} </td>
        
			<td><input type="button" class="btn btn-primary" value="Propose Training" (click)='giverequest(mentor.id)' style="font-size: 16px;"></td>
        
     </tr>
    
    </table>
    
  </div>
		<div class="footer">
			<p class="footer-text">Mentor On Demand</p>
		</div>
</body>

